.container {
    width: 80%;
    margin: 100px auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
}

.contact {
    margin-top: 20px;
    font-size: 20px;
}
.contact a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}
.contact a:hover {
    text-decoration: underline;
}
.team {
    margin-top: 20px;
    padding: 10px;
    background: rgb(20, 20, 20);
    border-radius: 10px;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    font-size: 18px;
    margin: 5px 0;
}